#daemon-img {
    width: 100%;
    margin: 0;
}

#header-img-atag {
    margin: auto;
    width: 30%;
    max-width: 190px;
}

#head-container {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.search-form {
    width: 70%;
    margin: auto;
    max-width: 390px;
}

#search-title {
    margin: auto;
}

#search {
    height: 35px;
}

.nav-btn {
    margin-left: 3px;
}

#results-div a {
    color: #0074D9;
}

#results-div em {
    font-weight: bold;
}

#results-div .search-result-thumbnail {
    float: right;
}

#results-div img {
    width: 100%;
    display: block;
    margin: auto;
}

#results-div li {
    display: block;
}

#results-div .search-result-row {
    margin-bottom: 40px;
}

#results-div .search-result-thumbnail {
    margin-bottom: 15px;
}

#results-div a.disabled {
    color: gray;
}

.video-wrapper {
    display: none;
}